<style media="screen" type="text/css">
.navbar li
{
display:inline;
}
</style>
<div class="navbar">
<ul>
<li><%= link_to "Favorites", favorites_url %></li>
<li><%= link_to "Friends", friends_url %></li>
<li><%= link_to "Greeting", greeting_url %></li>
<li><%= link_to "Search", search_url %></li>
</ul>
</div>

<h1>Friend List</h1>

<ul>
  <% @friends_list.each do |friend| %>
    <li><%= friend %></li>
  <% end %>
</ul>
